*.py[cod]
__pycache__/
*.ipynb_checkpoints/
*.class
*.kfb
*.tif
*.DCM
*.tar
*.zip
*.tar
*.tar.gz
*.h5
*.hdf5

~$*.doc*
~$*.docx*
~$*.xls*
~$*.xlsx*
~$*.ppt*
~$*.pptx*

/ImgHub
/hls/test_data
/point_detect/CC
/point_detect/CC_yolo

/ocr/ocr_python/dist
/ocr/ocr_python/build
/ocr/ocr_python/OCRGui.spec
/ocr/ocr_java/example_codes

train_c1/algorithm/log
train_c1/algorithm/arrange_patches_12_Glandular/
train_c1/algorithm/arrange_patches_12_Glandular_new/
train_c1/algorithm/model_checkpoints/
train_c1/stain_algo_compare
