*.py[cod]
__pycache__/
.ipynb_checkpoints/
*.class
*.kfb
*.tif

~$*.doc*
~$*.docx*
~$*.xls*
~$*.xlsx*
~$*.ppt*
~$*.pptx*

/ocr/ocr_python/dist
/ocr/ocr_python/build
/ocr/ocr_python/OCRGui.spec
/ocr/ocr_java/example_codes